#moodForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2em 1em;
}

#moodForm label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 14px;
}

#moodForm  input[type="date"],
#moodForm textarea,
#moodForm select {
    width: fit-content;
    padding: 10px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border 0.3s, box-shadow 0.3s;
    outline: none;
    margin-bottom: 20px;
}

#moodForm textarea {
    width: 100%;
}


#moodForm button {
    width: fit-content;
}

.logo {
    width: 150px;
}
